<ul>
  <% @tickets.each do |tix| %>
    <% if tix.completed? %>
      <li>
        <strong><del><%= tix.problem %></del></strong><br/>
        <p> Response: <%= tix.reply %> </p>
        <%= distance_of_time_in_words(tix.updated_at, Time.current) %> ago.
      </li><br/>
    <% end %>
  <% end %>
</ul>
