<h1> Welcome to the Help Desk! </h1>

<h3> Your opinion is important to us. </h3>

<p> We will handle your ticket in the order it was received.  Please fill in your information below and you will receive a <strong>confirmation email</strong> noting that we have processed your ticket.</p>

<p>When your issue has been sorted, expect another email letting you know its been handled.</p>

<%= render 'form' %>

<p> Disclamer:  We might not actually do anything you ask us to. </p>

<p>=====================================</p>

<h3> Outstanding Tickets: </h3>

<%= render 'open' %>

<h3> Closed Tickets: </h3>

<%= render 'closed' %>
